.warp-out
  .warp-inner
    .believe
      .pic(style="background-image: url('/assets/img/pic1_1.jpg')")
        img(src="/assets/img/pic3.png")
      .paper
        .title A little bit better
        .p Design is a thinking process. Today we need completely new structures in order to identify what is actually necessary.<br><br><i>-- Dieter Rams</i>
        <i class="fa fa-arrow-circle-left next" aria-hidden="true"></i>
    .believe
      .pic(style="background-image: url('/assets/img/rota.jpg')")
        img(src="/assets/img/pic3.png")
      .paper
        .title TECHNOLOGY ALONE IS NOT ENOUGH
        .p “People from technology don't understand the creative process that these companies go through to make their products, and they don't appreciate how hard it is. And the creative companies don't appreciate how creative technology is; they think it's just something you buy. And so there is a gulf of understanding between the two of them.”<br><br><i>-- Steven jobs</i>
        <i class="fa fa-arrow-circle-left next" aria-hidden="true"></i>
    .believe
      .pic(style="background-image: url('/assets/img/pic3.png')") 
        img(src="/assets/img/pic3.png")
      .paper
        .title 研究必须是“新”的，<br>而设计必须是“好”的
        .p The best design surpasses its predecessors by using new ideas, and the best research solves problems that are not only new, but actually worth solving. So ultimately we're aiming for the same destination, just approaching it from different directions.<br><br><i>-- Paul Graham, 2002</i>
        <i class="fa fa-arrow-circle-left next" aria-hidden="true"></i>
