footer
  .container
    .icon
      ul
       li: a(href="https://www.facebook.com/crazylazyg" class="fa fa-facebook nav-icon" aria-hidden="true")
         .text Facebook
       li: a(href="https://twitter.com/CrazyLazyg" class="fa fa-twitter nav-icon" aria-hidden="true")
         .text Twitter
       li: a(href="mailto:crazylazy007@gmail.com" class="fa fa-envelope nav-icon" aria-hidden="true")
         .text Email
    ul.nav
      li: a(href="/") Home
      li: a(href="/service.html") Service
      li: a(href="/portfolio.html") Portfolio
    p &copy; 2017 CrazyLazy. All rights reserved.
