section.articles
  .flex.flex-center
    .col-50.flex.flex-center.order-first
      .col-1
        p.home-lead.outdented … You can lead a horse to water, but you can't make it drink …
        a(href="https://www.youtube.com/user/DevTipsForDesigners").home-cta DevTips
    .col-50
      p So that’s BEM (or a slight variation thereof); a highly useful, powerful and simple naming convention to make your front-end code easier to read and understand, easier to work with, easier to scale, more robust and explicit and a lot more strict.
