section.mail
  //- .flex.flex-center
  //-   .col-2
  //-     p.home-lead ... Send email note ...
  //-     .notes-sigup-box (form)

  .flex.flex-center
    .col-1
      p That’s BEM (or a slight variation thereof); a highly useful, powerful and simple naming convention to make your front-end code easier to read and understand, easier to work with, easier to scale, more robust and explicit and a lot more strict.
    .col-1
      p That’s BEM (or a slight variation thereof);
      ul
        li <a href=''>· Being Orignail</a>
        li <a href=''>· Fear</a>
        li <a href=''>· Birthday Note</a>
