mixin design-img(hre, color = '#BD5248', src = 'myLogoBlack.svg')
  //- - var hre = ''
  //- - var color = '#BD5248'
  //- - var src = 'myLogoBlack.svg'
  a(href=`${hre}` data-color=`${color}`).design-img
    img(src=`/assets/img/${src}`)

section.design
  .flex.flex-center
    .col-50.flex.flex-center.dribbble(data-color-orig='#ea4c89')
      .col-1
        p.home-lead ...Updating Dribbble...
        +design-img("https://www.youtube.com/user/DevTipsForDesigners",'#1769ff','myLogoBlack.svg')
        +design-img
        +design-img
        +design-img
        +design-img
        +design-img
        .cf
        a(href="https://www.youtube.com/user/DevTipsForDesigners").home-cta See more on Dribbble
    .col-50.flex.flex-center.behance(data-color-orig ='#1769ff')
      .col-1
        p.home-lead ...Updating Behance...
        +design-img
        +design-img
        +design-img
        +design-img
        +design-img
        +design-img
        .cf
        a(href="https://www.youtube.com/user/DevTipsForDesigners").home-cta See more on Behance
