mixin thumb
  a(herf="" style="background-image: url(http://fillmurray.com/230/500)").articles-thumb
    .articles-meta
      .name CrazyLazy
      .date Dec 10, 2016

section.articles
  .flex.flex-center
    .col-50
      .article-warp
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb

    .col-50.flex.flex-center.order-first
      .col-1
        .desc-wrap
          p.home-lead.outdented … You can lead a horse to water, but you can't make it drink …
          a(href="https://www.youtube.com/user/DevTipsForDesigners").home-cta DevTips
