mixin design-img
  a(href="").design-img
    img(src="/assets/img/myLogoBlack.svg")

section.design
  .flex.flex-center
    .col-50.flex.flex-center.dribbble
      .col-1
        p.home-lead ...Updating Dribbble...
        +design-img
        +design-img
        +design-img
        +design-img
        +design-img
        +design-img
        .cf
        a(href="https://www.youtube.com/user/DevTipsForDesigners").home-cta See more on Dribbble
    .col-50.flex.flex-center.behance
      .col-1
        p.home-lead ...Updating Behance...
        +design-img
        +design-img
        +design-img
        +design-img
        +design-img
        +design-img
        .cf
        a(href="https://www.youtube.com/user/DevTipsForDesigners").home-cta See more on Behance
