section.about#about
  video(autoplay loop)
    //- source(src='/assets/video/Test04329.mp4' type='video/mp4')
    //- source(src='/assets/video/test.mov' type='video/mov')
    source(src='/assets/video/test.mp4' type='video/mp4')
    source(src='/assets/video/test.webm' type='video/webm')

  .flex.flex-center
    .col-1.push-right
      h2 CrazyLazy is trying to grow up,
      p.home-lead but instand of spend his time …
