section.youtube
  .flex.flex-around
    .col-1
      .pic-strip
      .flex-video <iframe width="420" height="315" src="https://www.youtube.com/embed/TJ1SDXbij8Y?controls=0&showinfo=0"></iframe>
    .col-1.order-first
      p.home-lead.outdented … Everday he is trying anything he can to make something better …
      a(href="http://youtube.com").home-cta Personal Portfolio
