section.articles
  .flex.flex-center
    .col-50
      .article-warp
        |{% for post in site.posts limit: 12 %}
        a(href="{{post.url}}" style="background-image: url(/assets/img/posts/thumbnail/{{post.thumbnail}})").articles-thumb
          .articles-meta
            .name {{post.title}}
            .date {{post.date | date: "%a, %b %d, %Y"}}
        |{% endfor %}
    .col-50.flex.flex-center.order-first
      .col-1
        .desc-wrap
          p.home-lead.outdented … Photoing and designing and more …
          a(href="https://www.youtube.com/user/DevTipsForDesigners").home-cta Personal Portfolio
