.want
  .ps
    .p 探索然后定义问题
    .p 与工程师一同工作
    .p 将产品变得简单而容易理解
    .p 内在外在一样出色
    .p 诚实并保持人文关怀
    .p 帮助人们达成目标
    .p 收获幸福和喜悦
    .p 得到用户认可与信赖
    .p 陪伴其生活

  .titles
    .line.line-top
      <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
      .i DESIGN
    .title 设计应帮助用户<br>设计能成就品牌
    .line.line-bottom
      <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
      .i BRAND
