.work
  .hero
    .video-loop
      video(autoplay loop)  
        source(src='/assets/video/gainianchangping.mp4' type='video/mp4')
  .main-text 易方达基金网站布局陈旧，信息按照业务逻辑进行组织，不利于吸引并服务新增的年轻客户；因此我们重新梳理了网站的信息架构，并给予了一个更加现代时尚的外观，使他更接近一个日常消费品
  .pics
    video(autoplay loop class='lazy')
      source(src='/assets/video/water.mp4' type='video/mp4' class='lazy') 
    video(autoplay loop class='lazy')
      source(src='/assets/video/zhongtou.mp4' type='video/mp4')
  .main-text 接到道位年度showcase时，最大的挑战是如何快速学习并制作各类特效，因此我联系制作了不同视频效果
  .explain
    .left_place
    .right_place
      .section.duty 职责
        ul
          li 脚本
          li 特效
      .section.software 软件
        ul
          li AfterEffect
          lin AE插件
          
