.work
  .hero
    .img(style="background-image:url('/assets/img/work/yzsg-cover.png')")
  .main-text 台湾交流时期的平面设计作业  
  .pics
    .pic(style="background-image:url('/assets/img/work/3@2x.png')")
    .pic(style="background-image:url('/assets/img/work/5@2x.png')")
    .pic(style="background-image:url('/assets/img/work/2-1@2x.png')")
    //- .pic(style="background-image:url('/assets/img/work/1-2@2x.png')")
    //- .pic(style="background-image:url('/assets/img/work/2-2@2x.png')")

    .pic(style="background-image:url('/assets/img/work/6@2x.png')")
    .pic(style="background-image:url('/assets/img/work/1-1@2x.png')")
    .pic(style="background-image:url('/assets/img/work/4@2x.jpg')")
  
  .main-text 平面设计的学习开始于到台湾做交换生的时候，台湾的学生生活让我认识到了人文关怀，提高了美学素养。
    

  .explain
    .left_place
    .right_place
      .section.duty 个人作业

      .section.software 软件
        ul
          li Lightroom
          li Photoshop
          li Illustrator
