.work
  .hero
    .video-loop
      video(autoplay loop)  
        source(src='/assets/video/haitong_1.mp4' type='video/mp4')
  .main-text 接手海通资管项目，解决当前设计遗留的问题
  .pics
    video(autoplay loop class='lazy')
      source(src='/assets/video/haitong_2.mp4' type='video/mp4')
    .pic(style="background-image:url('/assets/img/work/haitong_3.png')")    
  .main-text 重设计的基金超市的部分，鼠标悬浮时显示筛选器，向下滚动时导航栏隐藏，分类信息始终显示
  .explain
    .left_place
    .right_place
      .section.duty 职责
        ul
          li 设计
          li 新增

      .section.software 软件
        ul
          li Photoshop
          li Principle
