.work
  .hero
    .video-loop
      video(autoplay loop)  
        source(src='/assets/video/zjt-hd.mp4' type='video/mp4')
  .main-text 项目以保证了各个模块的可复用性为首要目标，并考虑到相同元素在不同设备尺寸的重新排布
  .pics
    video(autoplay loop)
      source(src='/assets/video/zjt-mid.mp4' type='video/mp4')
    video(autoplay loop)
      source(src='/assets/video/zjt-phone.mp4' type='video/mp4')    
  .main-text 通过这个项目实践了我的原则，通过设计让产品变得更加的易用和可靠，使用者因为可以清晰的感受到所呈现的信息而感到极大的愉悦，并对产品产生信赖
  .explain
    .left_place
    .right_place
      .section.duty 职责
        ul
          li 原型
          li 动效
          li 设计
          li 交付
      .section.software 软件
        ul
          li Sketch
          li Principle
