.work
  .pics
    .pic.fullimg.lazyIn(style="background-image:url('/assets/img/work/brand/Artboard_0.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_1.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_2.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_3.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_4.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_5.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_6.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_7.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_8.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_9.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_10.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_11.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_12.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_13.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_14.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_15.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_16.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_17.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_18.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_19.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_20.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/brand/Artboard_21.jpg')")

  .explain
    .left_place
    .right_place
      .section.duty 职责
        ul
          li 品牌
          li 概念
          li 视觉
      .section.software 软件
        ul
          li illustrator
          li Photoshop
