.work
  .hero
    .img(style="background-image:url('/assets/img/work/changer-hero.png')")
  .main-text 我们周围有很多像充电器这样有着最为广泛的用户和最普遍多样的使用场景的产品，却从未被认真对待过
  .pics
    .pic(style="background-image:url('/assets/img/work/changer2.png')")
    .pic(style="background-image:url('/assets/img/work/changer1.png')")
    .pic(style="background-image:url('/assets/img/work/changer3.png')")
    .pic(style="background-image:url('/assets/img/work/changer4.png')")
  .main-text 无论是排插或是壁插,都能将数据线直接朝向设备的方向，减少缆线的弯折延长使用寿命。这一变化使得顶部可加入一个开关，来减少充电器和缆线的插拔次数
  .explain
    .left_place
    .right_place
      .section.duty 个人作品

      .section.software 软件
        ul
          li Alias
          li Keyshot
          li Photoshop
          li Illustrator
