.work
  .hero
    .video-loop
      video(autoplay loop)  
        source(src='/assets/video/Tianfu.mp4' type='video/mp4')
  .main-text 天府集团需要一个引导页来导向集团、银行和金租等分属不同业务的独立网站，这是一个树立品牌形象的良好机会和理想入口
  
  .explain
    .left_place
    .right_place
      .section.duty 职责
        ul
          li 探索
          li 原型
          li 设计
      .section.software 软件
        ul
          li Sketch
          li Keynote
