.work
  .hero
    .img(style="background-image:url('/assets/img/work/web-yaSpace-logo.png')")
  .main-text 丫空间(yaspace.cn)是一个创造性的空间出租平台, 名字受到墙角‘Y’字形的启发。因此Logo的设计需要融合连接、空间和“丫”字三个元素。丫字的右半边取义屋顶和墙面，而左边的一点象征了空间对外的连接，而整体的形象又略显活泼与俏皮符合丫空间的品牌形象
  .pics
    .pic(style="background-image:url('/assets/img/work/yaspace-weixin-hero.jpg')")
    .pic(style="background-image:url('/assets/img/work/web-yaSpace-02.png')")
  .main-text 树立从线上到线下，从用户到投资者的统一形象，完成品牌从零到一的过程,提出“空间=场地+活动”的理念,描绘顽皮、鲜活的品牌形象,确立“让精彩发生”的品牌理想
  .pics
    .pic(style="background-image:url('/assets/img/work/web-Banner.png')")
    .pic(style="background-image:url('/assets/img/work/yaspace-DM1.jpg')")
    .pic(style="background-image:url('/assets/img/work/yaspace-weixin.png')")
    .pic(style="background-image:url('/assets/img/work/yaspace-DM4.jpg')")
    .pic(style="background-image:url('/assets/img/work/Business-Card-yaspace.jpg')")
    .pic(style="background-image:url('/assets/img/work/WEB-yaSpace.png')")
    

  .explain
    .left_place
    .right_place
      .section.duty 内容
        ul
          li Logo
          li Banner
          li DM
          li 名片
          li 微信宣传页
          li 响应式改造
      .section.software 软件
        ul
          li Photoshop
          li Illustrator
          li Sublime Text
