.work
  .hero
    .video-loop
      video(autoplay loop)  
        source(src='/assets/video/gainianchangping.mp4' type='video/mp4')
  .main-text 道位年度showcase视频特效制作
  .pics
    video(autoplay loop class='lazy')
      source(src='/assets/video/water.mp4' type='video/mp4' class='lazy') 
    video(autoplay loop class='lazy')
      source(src='/assets/video/zhongtou.mp4' type='video/mp4')
  .main-text 接到道位年度showcase时，最大的挑战是如何快速学习并制作各类特效，因此我练习制作了不同视觉效果
  .pics
    video(autoplay loop class='lazy')
      source(src='/assets/video/convert/iMac_720p.mp4' type='video/mp4' class='lazy') 
    video(autoplay loop class='lazy')
      source(src='/assets/video/convert/main.mp4' type='video/mp4')
  .explain
    .left_place
    .right_place
      .section.duty 职责
        ul
          li 脚本
          li 特效
      .section.software 软件
        ul
          li AfterEffect
          li AE插件
          
