.work
  .hero
    .video-loop
      video(autoplay loop)  
        source(src='/assets/video/haitong_1.mp4' type='video/mp4')
  .main-text 从后期接手海通资管的项目。主要工作是完善当前设计，满足新增的用户需求，保证视觉风格的延续和清晰的信息呈现 
  .pics
    video(autoplay loop class='lazy')
      source(src='/assets/video/haitong_2.mp4' type='video/mp4')
    .pic(style="background-image:url('/assets/img/work/haitong_4.jpg')")    
  .main-text 设计为业务服务、为信息服务，引导用户完成关键操作，提示用户阅读重要信息，去除装饰元素
  .explain
    .left_place
    .right_place
      .section.duty 职责
        ul
          li 设计
          li 交付

      .section.software 软件
        ul
          li Photoshop
          li Principle
