.work
  .hero
    .video
      video(autoplay)
        source(src='/assets/video/System.mp4' type='video/mp4')
        source(src='/assets/video/System_s.mp4' type='video/mp4')
  .main-text 在不断发展整合的过程中，品牌需要不断演化跟上集团发展的脚步。视频很好的演示出一个概念是如何满足线上线下不同媒介的不同宣传需求，并在集团中不同产业中保持多样性的。
  .pics
    .pic(style="background-image:url('/assets/img/posts/thumbnail/Unknown-12.jpeg')")
    .pic
  .explain
    .left_place
    .right_place
      .section.duty 职责
        ul
          li 案例分析
          li 动效设计
          li 视频脚本
          li 视频制作
      .section.software 软件
        ul
          li Photoshop
          li Illustrator
          li AfterEffects
