.work
  .pics
    .pic.fullimg.lazyIn(style="background-image:url('/assets/img/work/ux/iPad-Pro_01.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/ux/iPad-Pro_02.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/ux/iPad-Pro_03.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/ux/iPad-Pro_04.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/ux/iPad-Pro_05.jpg')")
    .pic.fullimg(style="background-image:url('/assets/img/work/ux/iPad-Pro_06.jpg')")
  .explain
    .left_place
    .right_place
      .section.duty 职责
        ul
          li 原型
          li 动效
          li 设计
      .section.software 软件
        ul
          li Sketch
          li Principle
