$selection-color: #3f3f3f
$accent-color: #BD5248
$bg-color: #FFFFFF
$headlineColor: #BD5248
$primary-color: #333
$text-color: #3f3f3f

$accent-light: lighten($accent-color, 60%)
$accent: $accent-color
$textColor: $text-color
$documentBackgroundColor: $bg-color
$link-color: $accent-color
$selectionColor: $selection-color
$bgcolor: $bg-color
