.banner {
  width: 100%;
  height: calc(100vh - 119px);
  background-image: url(/assets/img/banner1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-end;
  .h1 {
    /* 我喜欢简单 因为这样 每一件小事都惊天动: */
    font-family: PingFangSC-Medium;
    font-size: 4.25em;
    line-height: 56%;
    color: #FFFFFF;
    line-height: 140%;
    text-shadow: 0 4px 24px rgba(0,12,24,0.6);
    margin: 0 0 0 44px;
  }
  .span {
    display: block;
    width: 8%;
    height: 4px;
    background-color: white;
    margin: 24px 0 24px 44px;
  }
  .p {
    /* “…the unspectacular: */
    //
    // margin: -3px -5px;
    line-height: 1.7;
    border-radius: 3px;
    margin: 0 0 48px 44px;
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 36px;
    width: 80%;
    max-width: 890px;
    .highlight {
      display: inline;
      background: rgba(0,0,0,0.8);
      color: white;
      padding: 2px 8px;
    }

    .highlight-wrapping {
      position: relative;
      left: 8px;
      padding-left: 0;
      box-shadow: 8px 0 0 rgba(0,0,0,0.78),
                  -8px 0 0 rgba(0,0,0,0.78);

    }
        // background-color: rgba(0,0,0,0.8);
    // .highlight-container, .highlight {
    //   position: relative;
    // }
    // .highlight-container {
    //   display: inline-block;
    //   &:before, &:after {
    //     content: ' ';
    //     display: block;
    //     height: 90%;
    //     width: 100%;
    //     margin-left: -3px;
    //     margin-right: -3px;
    //     position: absolute;
    //     z-index: 1;
    //   }
    //   &:before {
    //     background: rgba(0,0,0,0.6);
    //     transform: rotate(3deg);
    //     top: -1px;
    //     left: -1px;
    //   }
    //   &:after {
    //     background: rgba(0,0,0,0.4);
    //     top: 3px;
    //     right: -2px;
    //   }
    //   .highlight {
    //     padding: 3px 5px;
    //     color: #fff;
    //     z-index: 4;
    //   }
    // }
  }
}
