@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

section.articles {
  // background-color: #eee;
  background-image: url(/assets/img/acBg.jpg);
  background-size: cover;
  background-position: center;
  .col-1 {
    display: flex;
    align-items: center;
  }
  .home-cta {
    color: white;
    background: #000;
  }
  .home-lead {
    color: white;
  }
  .article-warp {
    margin: -50px 0;
    @include clearfix
  }
  .articles-thumb {
    display: block;
    background-size: cover;
    background-position: center;
    width: 25%;
    float: left;
    position: relative;
    overflow: hidden;
    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
      }
    .articles-meta {
      position: absolute;
      background-color: fade-out(white,0.3);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: #000;
      padding: 10px;
      transform: translate(0%,100%) scale(0.5);
      opacity: 0;
      transition: all 0.2s ease-in-out;
      .mane{
        font-size: 18px;
      }
      .date {
        font-style: italic;
      }
    }
    &:hover .articles-meta{
      transform: translate(0%,0%) scale(1);
      opacity: 1;
    }
  }
}

@media (max-width: 640px) {
  section.articles {
    .article-warp {
      margin: -20px 0;
    }
    .desc-wrap {
      margin-top: 60px;
    }
    .col-1 {
      display: block;
    }
  }
}
