section.about {
  background-image: url(/assets/img/Hero.jpg);
  background-position: center top;
  background-size: cover;

  h2 {
    font-size: 54px;
    color: #2F2A25;
    margin-top: 0;
    margin-left: -60px;
    text-align: left;
  }
  .home-lead {
    color: #2F2A25;
  }
}

@media (max-width: 640px) {
  section.about {
    h2 {
      margin: 10px;
      font-size: 36px;
      color: white;
    }
    .push-right {
      margin-left: 0px !important;
    }
    .home-lead {
      font-size: 18px;
      margin: 0 10px;
      color: white;
    }
  }

}
