section.design {
  padding: 0;
  .dribbble, .behance {
    padding: 50px 0;
    background-color: #ea4c89;
    .home-cta {
      background-color: #fff;
      color: #ea4c89;
    }
  }
  .behance {
    background-color: #1769ff;
    .home-cta {
      color: #1769ff;
    }
  }
  .home-lead {
    color: #fff;
    text-align: center;
  }
  .design-img {
    display: block;
    float: left;
    width: calc(50% - 14px );
    border: 2px solid white;
    box-shadow: 2px 2px 15px rbga(0,0,0,0.2);
    margin: 5px;
    img {
      max-width: 100%;
      display: block;
    }
  }
  .cf {
    clear: both;
    margin-bottom:20px;
  }
}
