nav {
  max-width: 1440px;
  color: #C0C4CC;
  width: 100%;
  height: 120px;
  background: #FFFFFF;
  // -webkit-appearance: none;
  box-shadow: 0 4px 64px 0 rgba(0,12,24,0.09);
  display: flex;
  align-content: space-between;
  transition: all 0.8s;
  z-index: 100;
  #logo {
    align-self: flex-end;
    font-size: 18px;
    color: rgba(255,255,255,0);
    // background: url(/assets/img/myLogo.svg) no-repeat center;
    // background-size: contain;
    border: 8px solid #333;
    width: 38px;
    height: 38px;
    margin: 0px 0px 32px 44px;
    padding: 0;
    &:before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      border: 8px solid white;
      margin-left: 20px;
      margin-top: 20px;
    }
  }
  ul{
    align-items: flex-end;
    align-self: flex-end;
    flex-grow: 1;
    list-style: none;
    margin: 32px 0;
    font-weight: 500;
    li {
      display: inline-block;
      padding: 0 32px;
      a {
        border-bottom: 4px solid #fff;
        border-radius: 20%;
        transition: all .29s;
        color: #C0C4CC;
        &.active {
          color: #3f3f3f;
          // border-bottom: 4px solid #3f3f3f;
        }
        &:hover {
          color: #3f3f3f;
          border-bottom: 4px solid #3f3f3f;
          border-radius: 0;
        }
      }
    }
  }

  p {
    align-self: flex-end;
    margin: 32px 44px;
    text-align: right;
  }
  .nav-icon {
    color: #3f3f3f;
    padding: 0 12px;
    &:last-child {
      padding-right: 0;
    }
    &:first-child {
      padding-left: 24px;
    }
  }
}

@media (max-width: 800px) {
  nav {
    width: 100%;
    #logo {
      margin-left: 40px;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-self: center;
      font-size: 18px;
      padding: 0 48px;
      margin: 0;
      li {
        width: 66px;
        display: block;
        padding: 2px 0;
      }
    }
    p {
      display: none;
    }
  }
}
@media (max-width: 520px) {
  nav {
    ul {
      li {
        display: block;
      }
    }
  }
}
