body {
  background-color: white;
}
.menus {
  width: 100%;
  padding: 0;
  ul {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  li {
    display: inline-block;
    color: #D8DDE6;
    list-style: none;
    text-align: center;
    flex-grow: 1;
    font-size: 32px;
    padding: 80px 72px 32px 72px;
    cursor: pointer;
    transition: all 0.3s;
    &.active,&:hover  {
      color: #3f3f3f;
    }
    &.active:after,&:hover:after {
      width: 100%;
    }
    &:after {
      content: '';
      display: block;
      height: 4px;
      width: 0;
      background-color: #D8DDE6;
      transition: all .3s;
    }
  }
}
.collection {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  .pic {
    width: 50%;
    padding: 0;
    display: flex;
    overflow: hidden;
    background-color: white;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    // transform: rotateX(90deg);
    margin-top: 80px;
    transform-origin: top;
    &.pic-hidden {
      display: none;
      opacity: 0;
    }
    &:nth-child(3n) {
      margin-top: 120px;
    }
    &.lazyIn {
      opacity: 1;
      margin-top: 0;
      // animation: lazy 0.8s ease 1;
      // transform: rotateX(0);
    }
    a {
      width: 100%;
      // background-image: url('/assets/img/posts/thumbnail/Unknown-12.jpeg');
      background-size: 101%;
      background-position: center;
      background-repeat: no-repeat;
      transition: all 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      color: white;
      display: flex;/* align horizontal */
      align-items: center;
      // background-color: rgba(0,12,24,0.2);
      &:hover {
        background-size: 110%;
      }
      &:hover .title{
        opacity: 1;
        text-shadow: 0 4px 72px rgba(0,24,64,0.8);
      }
      &:before {
        content: "";
        display: block;
        padding: 0 0 56.25% 0;
        background-color: rgba(0,12,24,0.2);
      }
      // &:after {
      //   display: block;
      //   background-color: rgba(0,12,24,0.2);
      // }

      .title {
        span {
          font-size: 18px;
        }
        display: flex;
        align-items: center;
        align-self: stretch;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        width: 100%;
        transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        font-size: 32px;
        text-align: center;
        line-height: 66%;
        margin: 0;
        color: white;
        background-color: rgba(0,6,12,0.4);
        // &:after {
        //   content: "";
        //   position: absolute;
        //   display: inline-block;
        //   width: 100%;
        //   height: 100%;
        //   background-color: rgba(0,12,24,0.2);
        // }
      }

    }
  }
}
@keyframes lazy {
  0%{
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 870px) {
  .menus {
    li {
      font-size: 32px;
      padding: 64px 60px 24px 60px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}
@media (max-width: 800px) {
  .menus {
    li {
      font-size: 24px;
      padding: 32px 60px 24px 60px;
    }
  }
  .collection {
    .pic {
      width: 100%;
    }
  }
}
@media (max-width: 700px) {
  .menus {
    li {
      font-size: 18px;
      padding: 32px 18px 24px 18px;

    }
  }
}
