.want {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  // padding: 60px 0;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  .ps {
    // clear: both;
    text-align: right;
    width: 33%;
    // padding: 56px 0 0 0;
    .p {
      color: #3f3f3f;
      font-size: 24px;
      padding: 6px 0;
      font-weight: 600;
      &:hover {
        color: #666;
      }
    }
  }
  .titles {
    display: flex;
    align-items: center;
    // align-self: center;
    flex-direction: column;
    width: 57.6%;
    margin: 80px 0 120px 0;
    .title {
      width: 68%;
      text-align: left;
      font-size: 16px;
      font-weight: lighter;
      margin: 16px 0 0 0;
    }
    .line {
      display: block;
      border-bottom: 4px solid #3f3f3f;
      width: 68%;
      font-size: 24px;
      .i {
        font-size: 24px;
      }
      &.line-top {
        // margin: -56px 0 0 0;
      }
      &.line-bottom {
        margin: 204px 0 0 0;
      }
      // &:before {
      //   content: "↓";
      //   display: block;
      //   font-size: 20px;
      //   line-height: 0.8;
      //   // position: absolute;
      // }
      // &:after {
      //   content: "";
      //   display: block;
      //   position: absolute;
      //   margin-left: 34%;
      //   width: 40%;
      //   height: 8px;
      //   background: #3f3f3f;
      // }
    }
  }
  .block {
    width: 9.4%;
    margin: 0 0 0 0;
    height: 100%;
    background-color: #3f3f3f;
    align-self: flex-start;
    // border-radius: 0 0 0 100%;
    &:before{
    	content: "";
    	display: block;
    	padding-top: 4px; 	/* initial ratio of 1:1*/
    }
  }
}
